<h2>If you get lost here's a map </h2>
<div class="container d-flex justify-content-center align-items-center" style="height: 80vh;">
    <div>
      <div *ngIf="apiLoaded | async">
        <google-map [options]="options">
            <map-marker
                #markerElem="mapMarker"
                *ngFor="let marker of markers"
                [position]="marker.position"
                [label]="marker.label"
                [title]="marker.title"
                [options]="marker.options"
                (mapClick)="openInfo(markerElem, marker.info)"
            >
            </map-marker>
        </google-map>
      </div>
    </div>
  </div>
  